<h1><%= @author.first_name + " " + @author.last_name %></h1>
<h3>This author has written the following books: (<%= @author.books.count %>)</h3>
<ul>
  <% @author.books.each do |book| %>
    <li>
      <%= link_to book.title, book %>
    </li>
  <% end %>
</ul>
<br>
<h3>Options</h3>
<ul>
  <li><%= link_to "Edit", edit_author_path(@author) %></li>
  <li><%= link_to "Delete", author_path(@author), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Back to overview", root_path %></li>
</ul>